body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    width: 100%;
    display: flex;
    margin-bottom: 4%;
}
.text-area{
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
    width: 50%; 
}
#text-big{
    color: #575757;
    font-size: 50px;
    padding-top: 7%;
}
#orange{
    color: orange;
}
#text-sml{
    font-size: 20px;
    padding-bottom: 5%;
    color: #5B5B5B;
}
#btn{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 2% 5% 2% 5%;
    border-radius: 25px;
    text-decoration: none;
    background-image: linear-gradient(red, orange);
}
.img-area{
    margin: 0;
    padding: 0;
}

.about-section{
    margin-bottom: 5%;
    background-image: url("/image/img-bg4.jpg");
    background-repeat: no-repeat;
}
.img-area-left{
    margin-left: 10%;
    
}
img{
    margin-top: 3%;
    padding-top: 5%;
    height: 550px;
}
.text-area-right{
    margin-left: 2%;
    color: #575757;
    padding: 10% 7% 0% 5%;
}
#about-me{
    font-size: 50px;
}

#p{
    color: #5B5B5B;
    font-size: 18px;
    padding-bottom: 20%;
}

.my-rcp{
    margin-bottom: 0;
}
.rcp-txt-sml{
    font-weight: bold;
    color: #575757;
    width: 100%;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
#rcp-title{
    color: #575757;
    font-weight: bold;
    font-size: 35px;
}

.rcp-list{
    width: 100%;
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
}

.rcp-item{
    border-radius: 25px;
    box-shadow: 30px 30px 60px rgb(219, 218, 218);
    text-align: center;
    background-color: white;
    margin: 2%;
    padding: 0%;
    height: 550px;
    width: 30%;
}
#item-img{
    padding: 0;
    border-radius: 20px;
    width: 307px;
    height: 250px;
}
#item-title{
    color: #575757;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 0% 4% 0% 4%;
}
#item-txt-sml{
    color: #575757;
    text-align: left;
    text-align: justify;
    padding: 0% 4% 0% 4%;
}
.social-div{
    border-radius: 25px;
    width: 100%;
    box-shadow: 10px 10px 20px rgb(204, 202, 202);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
#follower{
    text-align: center;
    width: 30%;
}
#flwr-txt{
    font-weight: bold;
    font-size: 50px;
}
.footer{
    padding-top: 2%;
    height: 200px;
    margin-bottom: 0;
    background-color: #171C33;
    width: 100%;
    text-align: center;
}
#food{
    color: #FB8D47;
}
#netwok{
    color: #5B5B5B;
}
h4{
    font-weight: lighter;
    color: rgb(214, 217, 219);
}